<!-- Button trigger modal -->
<button #showModal type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" hidden>
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button (click)="toggleFormSubmitted()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <ng-template> -->
          <form *ngIf="template && !isFormSubmitted" [formGroup]="textGeneratorForm" (ngSubmit)="onFormSubmit()">
            <div class="mb-3" *ngFor="let data of template.templateVariables">
              <label [for]="data.variableName" class="form-label">{{ data.variableName }}</label>
              <input class="form-control" [id]="data.variableName" aria-describedby="emailHelp"
              [formControlName]="data.variableName">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>  
        <!-- </ng-template> -->
          <div *ngIf="isFormSubmitted" #finalText class="editable form-control col-lg-12" contenteditable="true">
            {{ generatedText }}
          </div>                    
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>